@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body
{
  background:#1D0821;
  font-family: 'Open Sans', sans-serif;
}

.external:before {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  display: inline-block;
  text-decoration: none;
  padding-right:10px;
}

/************** Navigation bar **************/
.navbar
{
  background:#1D0821;
  border-style:none;
}
.navbar .dropdown-menu {
  background:#1D0821;
}
a.navbar-brand
{
  font-size:14pt !important;
  margin-right:24px;
  padding:18px 18px 14px 18px !important;
}
.navbar a:hover, .navbar a:link, .navbar a:visited
{
  font:12pt 'cabin condensed', sans-serif;
  font-weight:400;
  color:white !important;
  padding:18px 18px 18px 18px;
  background:#1D0821 !important;
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:link, .navbar .dropdown-menu a:visited
{
  background:#1D0821;
  padding:6px 18px 6px 18px;
}
.navbar .caret
{
  position:relative;
  top:-2px;
  left:2px;
  border-top:4px solid #D3C3D8 !important;
}
.navbar a:hover
{
  text-decoration:underline !important;
}
.navbar li.active a
{
  background:#35103D !important;
}

@media (min-width: 768px) {
  #navbar li { color:red; }
}
@media (min-width: 992px) {
  #navbar li { color:blue; }
}

/************** FsLab Banner **************/

.carousel .carousel-control
{
  background:black;
  opacity:0.4;
  width:45px;
  height:60px;
  margin:130px 10px 0px 10px;
}
.carousel .carousel-control .glyphicon
{
  left:10px;
  top:20px;
}

.banner-wrapper
{
  margin-top:50px;
  padding:25px 0px 10px 0px;
  background-image:url('../img/bg.gif');
  background-repeat:repeat;
  text-align:left;
}
.banner-spaced
{
  padding-bottom:30px;
}
.banner-wrapper .item
{
  margin-bottom:50px;
}
.banner-wrapper .item { overflow-x:hidden; overflow-y:auto; height:450px; }
@media (min-width: 768px) {
  .banner-wrapper .item { height:370px; }
}
@media (min-width: 992px) {
  .banner-wrapper .item { height:330px; }
}
@media (min-width: 1200px) {
  .banner-wrapper .item { height:300px; }
}
.banner-wrapper .ta-right { text-align:right; }
.banner-wrapper .ta-left-center { text-align:center; }
.banner-wrapper .ta-ml { text-align:center; }
.img-md { display:none; }
.img-xs { display:block; }
@media (min-width: 768px) {
  .banner-wrapper .ta-left-center { text-align:left; }
  .banner-wrapper .ta-ml { text-align:left; }
  .img-md { display:block; }
  .img-xs { display:none; }
}
.banner-wrapper h1
{
  font:24pt 'cabin condensed', sans-serif;
  color:white;
  font-weight:600;
  margin:5px 0px 25px 0px;
}
.banner-wrapper h1 em
{
  font-style:normal;
  font-weight:400;
  color:#D3C3D8;
  margin-left:20px;
}
.banner-wrapper p a
{
  color:white;
  font-weight:600;
}
.banner-wrapper p
{
  color:#D3C3D8;
  font-size:13pt;
  margin-top:15px;
}
.banner-wrapper li
{
  color:#D3C3D8;
  font-size:13pt;
  margin-top:5px;
}
.banner-wrapper .btn-primary
{
  background:#A00975;
  border-color:#A00975;
  font-size:12pt;
  width:160px;
  margin:5px 20px 0px 0px;
}
.banner-wrapper span.btn-primary
{
  margin-bottom:30px;
  cursor:default;
}

/**************  Other important FsLab buzzwords  **************/
.buzzword-wrapper
{
  padding:30px 0px 40px 0px;
  background:#D3C3D8;
  color:black;
}
.buzzword-wrapper h2
{
  font:18pt 'cabin condensed', sans-serif;
}
.buzzword-wrapper h2 span
{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background:#A00975;
  width:30px; height:30px;
  display:inline-block;
  margin-right:5px;
}
.buzzword-wrapper h2 span i.fa
{
  position:relative;
  left:7px;
  top:-2px;
  color:white;
  font-size:11pt;
}
.buzzword-wrapper p
{
  font-size:11pt;
  height:70px;
  margin-top:5px;
}

/**************  FsLab videos  **************/
.vids-wrapper
{
  background:#1D0821;
  color:white;
  padding:20px 0px 40px;
}
.vids-wrapper .img-holder
{
  text-align:center;
}
.vids-wrapper .img-holder img
{
  margin:0px 0px 50px 0px;
  width:80%;
}

.vids-wrapper .img-holder i
{
  position:relative;
  top:130px;
  background:black;
  padding:16px;
  font-size:20pt;
  opacity:0.7;
}
.vids-wrapper .img-holder a:visited,
.vids-wrapper .img-holder a:link { color:#a0a0a0; }

.vids-wrapper h2
{
  font:22pt 'cabin condensed', sans-serif;
  color:white;
  font-weight:600;
  margin:30px 0px 15px 0px;
}
.vids-wrapper h2 em
{
  font-style:normal;
  font-weight:400;
  color:#D3C3D8;
  margin-left:20px;
}
.vids-wrapper a
{
  color:white;
  font-weight:600;
}
.vids-wrapper p, .vids-wrapper li
{
  color:#D3C3D8;
  font-size:13pt;
  margin-top:10px;
}

/**************  FsLab components  **************/

.compo-wrapper
{
  padding:30px 0px 60px 0px;
  background:#E2DAE5;
  color:black;
}
.compo-wrapper img
{
  width:128px;
}
.compo-wrapper h2
{
  font:22pt 'cabin condensed', sans-serif;
  color:black;
  font-weight:600;
  margin:30px 0px 0px 0px;
}
.compo-wrapper h2 em
{
  font-style:normal;
  font-weight:400;
  color:#404040;
  margin-left:20px;
}
.compo-wrapper h3
{
  font:18pt 'cabin condensed', sans-serif;
  color:black;
  font-weight:600;
  margin:45px 0px 15px 0px;
}
.compo-wrapper h3 em
{
  font-style:normal;
  font-weight:400;
  color:#404040;
  margin-left:10px;
}
.compo-wrapper .components .col-md-6
{
  min-height:200px;
}
.compo-wrapper li
{
  color:black;
  font-size:11pt;
  margin-top:3px;
}
.compo-wrapper h3 span
{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background:#A00975;
  width:30px; height:30px;
  display:inline-block;
  margin-right:5px;
}
.compo-wrapper h3 span i.fa
{
  position:relative;
  left:8px;
  top:-3px;
  color:white;
  font-size:11pt;
}
.compo-wrapper a.btn
{
  margin:10px 0px 0px 8px;
  background:#35103D;
  border-color:#35103D;
  font-size:12pt;
  padding:4px 15px 4px 15px;
}
.compo-wrapper a.fst
{
  margin-left:40px;
}

.compo-logos
{
  background:#35103D;
  color:white;
  padding:40px 0px 40px 0px;
}
.compo-logos div
{
  text-align:center;
}
.compo-logos img
{
  width:10%;
  margin:0px 1% 0px 1%;
}

/**************  Footer  **************/
footer
{
  background:#1D0821;
  color:#D3C3D8;
  font-size:10pt;
  padding:20px 0px 40px 0px;
  height:300px;
}
footer a:hover, footer a:link, footer a:visited
{
  color:white;
  font-weight:bold;
}
footer h3
{
  font:12pt 'cabin condensed', sans-serif;
  font-weight:bold;
  margin:20px 0px 10px 0px;
}

/**************  Support panel  **************/

.support-wrapper
{
  padding:30px 0px 40px 0px;
  background:#D3C3D8;
  color:black;
}
.support-wrapper h2
{
  font:22pt 'cabin condensed', sans-serif;
  color:black;
  font-weight:600;
  margin:30px 0px 15px 0px;
}
.support-wrapper h2 em
{
  font-style:normal;
  font-weight:400;
  color:#404040;
  margin-left:20px;
}
.support-wrapper a
{
  color:black;
  font-weight:600;
}
.support-wrapper p, .support-wrapper li
{
  color:#404040;
  font-size:13pt;
  margin-top:10px;
}
.support-wrapper .img-holder
{
  text-align:center;
  padding-top:80px;
}

/**************  Standard pages with text  **************/

#logo
{
  width:120px;
  height:120px;
  margin:30px 0px 0px 55px;
  border-style:none;
}
#menu
{
  margin-top:20px;
}
#menu li.nav-header
{
  font:14pt 'cabin condensed', sans-serif;
  font-weight:bold;
}
#menu li.divider {
  border-top:1px solid #D3C3D8;
  margin:5px 20px 5px 10px;
}
.content-wrapper {
  padding:0px 0px 0px 0px;
  background:#D3C3D8;
  color:black;
}

.first-wrapper {
  margin-top:50px;
}

.content-wrapper .row {
  background:#E2DAE5;
  padding:10px 30px 60px 30px;
}

.content-wrapper h1
{
  font:26pt 'cabin condensed', sans-serif;
  font-weight:400;
  margin:30px 0px 10px 0px;
}

.content-wrapper h2
{
  font:22pt 'cabin condensed', sans-serif;
  font-weight:400;
  margin:30px 0px 10px 0px;
}

.content-wrapper h3
{
  font:16pt 'cabin condensed', sans-serif;
  font-weight:700;
  margin:20px 0px 5px 0px;
}

.content-wrapper p
{
  font-size:12pt;
  margin:8px 0px 8px 0px;
}

.content-wrapper code
{
  background:transparent;
}

.content-wrapper .col-md-9 li,
.content-wrapper .col-md-6 li
{
  font-size:12pt;
  margin-top:5px;
}

.content-wrapper .nav a:hover, .content-wrapper .nav a:link, .content-wrapper .nav a:visited
{
  padding:2px 0px 2px 10px;
  background:transparent !important;
}
.content-wrapper .nav a:hover
{
  text-decoration:underline;
}
.content-wrapper a:link, .content-wrapper a:visited, .content-wrapper a:hover
{
  color:#672077;
}
.content-wrapper .anchor {
  color:black !important;
}

.content-wrapper a.btn
{
  background:#35103D;
  border-color:#35103D;
  font-size:12pt;
  margin-left:10px;
  padding:7px 20px 7px 20px;
  color:white;
}
