<a href="www.fslab.org">
  <img src="/img/logos/fslab.png" id="logo" />
</a>

<ul class="nav nav-list" id="menu">
  <li class="nav-header">FsLab</li>
  <li><a href="http://www.fslab.org">Home page</a></li>
  <li><a href="https://nuget.org/packages/FsLab">Get FsLab via NuGet</a></li>
  <li><a href="http://github.com/fslaborg">FsLab on GitHub</a></li>
  <li><a href="https://twitter.com/fslaborg">Follow us on Twitter</a></li>
  <li><a href="http://stackoverflow.com/questions/ask?tags=fslab">Ask a question!</a></li>

  <li class="nav-header">Resources</li>
  <li><a href="/getting-started">Getting started</a></li>
  <li><a href="/report">O'Reilly report</a></li>
  <li><a href="http://www.apress.com/9781430267676" class="external">Machine Learning Projects for .NET Developers</a></li>

  <li class="nav-header">Documentation</li>
  <li><a href="http://fsharp.github.io/FSharp.Data/" class="external">F# Data</a></li>
  <li><a href="http://bluemountaincapital.github.io/Deedle/" class="external">Deedle</a></li>
  <li><a href="http://bluemountaincapital.github.io/FSharpRProvider/" class="external">R Type Provider</a></li>
  <li><a href="http://numerics.mathdotnet.com/" class="external">Math.NET Numerics</a></li>
  <li><a href="https://fslab.org/XPlot/" class="external">XPlot Visualization</a></li>
  <li><a href="http://fsharp.github.io/FSharp.Charting/" class="external">F# Charting</a></li>
</ul>
